body, html {
    margin: 0;
    padding: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    
}
.Welcome {
    height: fit-content;

}
.container {
    position: relative;

}

#typewriter {
    position: absolute;
    margin-top: 450px;
    margin-left: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(218, 236, 189);
    font-size: 32px;
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 300px; } /* Adjust width to fit your text */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    cursor: grab;
    position: absolute;
}

.intro {
    color: gray;
    width: 45%;
    height: 00px;
    text-align: right;
    margin: 10% 0 0 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    line-height: 2;
    font-weight: bold;
    display: none;
}

.background-image {
    background-image: url("./images/E1C53175-177D-41AA-96CC-2D91A0D87B17-2002-0000022236DB4DE4.JPG"); 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out; /* Transition for smooth resizing */
    overflow: hidden;
}

.resizing {
    width: 30%;
    height: 60%;
    margin: 10% 0 0 60% ;
    background-image: url("./images/27B2C09A-0994-42DA-A6FB-7E8E3C34E605-20254-000002FBF308DA35.JPG");
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

#fade-out {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    height: 550px;
    background-color: beige;
}


.primary {
    margin-top: 200px;
    display: none;
}