body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/greg-rosenke-6QnEf_b47eA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Welcome {


    color: red;
}
.container {
    position: relative;
}

h1 {
    position: absolute;
    margin-top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    font-size: 32px;
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 300px; } /* Adjust width to fit your text */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    cursor: grab;
    position: absolute;
}